.ourTeam {
    margin: 3rem 0;

    .contentOurTeam {
        margin: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 1rem;
    }
}