.categories {
    text-align: center;
    padding: 2rem 0 4rem 0;
    background: url("https://i.pinimg.com/originals/28/98/54/289854dae67ede707890974d5b209100.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);

    h1 {
        color: var(--white);
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
    }

    .contentSlider {
        display: flex;
        align-items: center;
        justify-content: center;
       gap: 1rem;
    }
}