body {
    position: relative;

    .hands {
        width: 100%;
        display: flex;

        img {
            z-index: 1;
            position: absolute;
        }

        img.hand1 {
            width: 60%;
            height: auto;
            top: 300px;
            right: 0;

            @media (max-width: 1000px) {
                top: 500px;
            }

            @media (max-width: 730px) {
                top: 600px;
            }

            @media (max-width: 600px) {
                display: none;
            }
           
        }

        img.hand2 {
            width: 60%;
            height: auto;
            top: 100px;
            left: 0px;

            @media (max-width: 1000px) {
                top: 400px;
            }

            @media (max-width: 730px) {
                top: 500px;
            }

            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}

main {
    position: relative;
    z-index: 2;

    .information {
        margin: 2rem 0;
    
        .container {
            text-align: center;
    
            h1 {
                font-size: 4rem;
                font-weight: 800;
                line-height: 60px;

                @media (max-width: 500px) {
                    font-size: 3.5rem;
                    line-height: 40px;
                }

                @media (max-width: 380px) {
                    font-size: 3rem;
                    line-height: 35px;
                }

                @media (max-width: 340px) {
                    font-size: 2rem;
                    line-height: 25px;
                }
            }
    
            p {
                font-size: 1rem;
                color: var(--black);
                font-weight: 300;
                margin: 1rem 0;
    
                b {
                    color: var(--main-color);
                    font-family: 600;
                }
            }
        }
    }
    
    .imgNFT {
        margin-top: 4rem;
    
        .container {
            text-align: center;
            img {
                margin: 0 auto;
                width: 200px;
                height: auto;
            }
        }
    }

    .data {
        background: var(--main-color);
        border-radius: 8rem 8rem 0 0;
        padding: 4rem 0;

        @media (max-width: 500px) {
            border-radius: 4rem 4rem 0 0;
        }

        h1 {
            color: var(--white);
            text-align: center;
            font-size: 4rem;
            font-weight: 800;
            line-height: 50px;
        }

        img {
            display: block;
            margin: 4rem auto;

            @media (max-width: 600px) {
                width: 100%;
            }
        }

        .colors {
            margin: 2rem auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;

            .colorBox {
                width: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                @media (max-width: 400px) {
                    width: 100%;
                }

                .box {
                    width: 70px;
                    height: 70px;
                    border-radius: 8px;
                }

                #information1 {
                    background-color: red;
                }

                #information2 {
                    background-color: green;
                }

                #information3 {
                    background-color: blue;
                }

                #information4 {
                    background-color: yellow;
                }

                span {
                    font-size: 1rem;
                    font-weight: 600;
                    color: var(--white);
                }
            }
        }
    }
}