header {
    position: relative;
    z-index: 98;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 200px;
            height: 80px;
            background: var(--gray);
        }

        span {
            font-size: 1rem;
            font-weight: 500;
            font-family: "Poppins", sans-serif;
            color: var(--black);

            @media (max-width: 830px) {
                display: none;
            }
        }

        .socials {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            @media (max-width: 530px) {
                display: none;
            }

            .boxSocials {
                width: 60px;
                height: 60px;
                border-radius: 30px;
                border: 1px solid var(--black);
                color: var(--black);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: filter 200ms;
                cursor: pointer;

                img {
                    width: 30px;
                }

                svg {
                    font-size: 30px;
                }

                &:hover {
                    filter: brightness(0.8);
                }
            }
        }

        .menuButton {
            display: none;
            position: relative;
            z-index: 999;
            background: transparent;

            @media (max-width: 830px) {
                display: block;
            }

            svg {
                font-size: 3rem;
                color: var(--black);
            }
        }

        .active {
            svg {
                color: var(--white);
            }
        }

        .desktop {
            width: 100%;
            margin: 1rem 0;

            @media (max-width: 830px) {
                display: none;
            }

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-around;

                li {
                    color: var(--black);
                    font-size: 1rem;
                    font-weight: 300;
                    transition: filter 200ms;

                    a {
                        color: inherit;
                        text-decoration: none;
                    }

                    &:hover {
                        filter: brightness(0.8);

                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .mobile {
            display: none;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 998;
            background: var(--transparency);
            backdrop-filter: blur(2px);
            transform: translate(0);
            transition: 0.3s ease transform;

            @media (max-width: 830px) {
                display: block;
            }

            ul {
                list-style: none;
                padding: 0;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                li {
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    margin: 1rem 0;
                    font-weight: 800;
                    color: var(--white);

                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 0.75rem 1.25rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }


        .line {
            width: 100%;
            height: 1px;
            background: var(--black);
        }
    }
}

